---
import Footer from '@/components/Footer.svelte'
import Hero from '@/components/TEMPLATE-GAMING/Hero.svelte'
import About from '@/components/TEMPLATE-GAMING/About.svelte'

const title = 'GAMER'
const description =
  "We won't claim that GAMER is the cutest cat on Solana—$michi probably holds that title—but MUSHA is definitely the second cutest cat on Solana. Just look at her!  🐱✨"
---

<style lang="scss" is:global>
  @use 'src/sass/global.scss';
  @use 'src/sass/mixins.scss';
</style>

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="view-transition" content="same-origin" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/jpg" href="/assets/logo.jpg" />
    <meta name="generator" content={Astro.generator} />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Micro+5&display=swap" rel="stylesheet" />

    <!-- 
    // GAMER -> Micro+5
    // CUTE -> Indie+Flower
    
    -->

    <title>{title}</title>
  </head>
  <body>
    <Hero client:load />
    <About />
  </body>
</html>

<script>
  import { animReveal } from '@/utils/reveal'

  window.onload = () => {
    setTimeout(() => {
      animReveal()
    }, 200)
  }
</script>
